upstream bchnrpc { server bchn:8332; }

server {
  listen 8332;
  resolver 127.0.0.11 valid=10s ipv6=off;

  location / {
    proxy_http_version 1.1;
    proxy_set_header Host bchn;
    proxy_set_header Authorization "Basic ${BASIC_AUTH}";
    proxy_set_header Connection "";
    proxy_pass http://bchnrpc;
  }
}
