# Runtime data
data/
.env
.env.*
*.log

# Gen. nginx confs
dashboard/app_proxy.conf
dashboard/bchn-rpc-proxy.conf

# Runtime secrets
app-data/
**/app_seed

# OS / temp
*.swp
*.bak
*.tmp

# Smoke/test files
docker-compose.smoke.override.yml

# Node / misc
node_modules/
