version: '3.8'
services:
  bchn:
    image: ghcr.io/rwh4ks/bchn-arm64:0.1.0
    platform: linux/arm64
    restart: on-failure
    stop_grace_period: 60s
    command:
      - /opt/bin/bitcoind
      - '-printtoconsole'
      - '-server=1'
      - '-prune=${APP_BCHN_PRUNE_MIB}'
      - '-rpcbind=0.0.0.0'
      - '-rpcallowip=10.0.0.0/8'
      - '-rpcallowip=172.16.0.0/12'
      - '-rpcallowip=192.168.0.0/16'
      - '-rpcuser=${APP_BCHN_RPC_USER}'
      - '-rpcpassword=${APP_BCHN_RPC_PASSWORD}'
    volumes:
      - ${APP_DATA_DIR}/data/bchn:/home/bitcoin/.bitcoin
    networks:
      internal:
        aliases:
          - bchn-1
    container_name: rwh-ks-public-pool-bch-solo_bchn_1
  mariadb:
    image: mariadb:11
    restart: on-failure
    stop_grace_period: 60s
    environment:
      MYSQL_DATABASE: ${APP_MARIADB_DATABASE}
      MYSQL_USER: ${APP_MARIADB_USER}
      MYSQL_PASSWORD: ${APP_MARIADB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${APP_MARIADB_ROOT_PASSWORD}
    volumes:
      - ${APP_DATA_DIR}/data/mariadb:/var/lib/mysql
    networks:
      - internal
    container_name: rwh-ks-public-pool-bch-solo_mariadb_1
  memcached:
    image: memcached:1.6
    restart: on-failure
    stop_grace_period: 60s
    command:
      - '-m'
      - '256'
      - '-o'
      - modern
    networks:
      - internal
    container_name: rwh-ks-public-pool-bch-solo_memcached_1
  yiimp:
    image: ghcr.io/rwh4ks/yiimp-arm64:0.1.0
    restart: on-failure
    stop_grace_period: 60s
    depends_on:
      - mariadb
      - memcached
    environment:
      DB_HOST: mariadb
      DB_NAME: ${APP_MARIADB_DATABASE}
      DB_USER: ${APP_MARIADB_USER}
      DB_PASS: ${APP_MARIADB_PASSWORD}
      MEMCACHED_HOST: memcached
    networks:
      - internal
    container_name: rwh-ks-public-pool-bch-solo_yiimp_1
  public-pool:
    image: ghcr.io/rwh4ks/public-pool-arm64:0.1.0
    restart: on-failure
    stop_grace_period: 60s
    depends_on:
      - bchn
      - yiimp
      - mariadb
      - memcached
    environment:
      BCH_RPC_URL: http://bchn-1:8332
      BCH_RPC_USER: ${APP_BCHN_RPC_USER}
      BCH_RPC_PASS: ${APP_BCHN_RPC_PASSWORD}
      STRATUM_PORT: 3563
      API_PORT: 3564
      DB_HOST: mariadb
      DB_NAME: ${APP_MARIADB_DATABASE}
      DB_USER: ${APP_MARIADB_USER}
      DB_PASS: ${APP_MARIADB_PASSWORD}
      MEMCACHED_HOST: memcached
    ports:
      - "3563:3563"
      - "3564:3564"
    networks:
      - internal
    container_name: rwh-ks-public-pool-bch-solo_public-pool_1
  dashboard:
    image: nginx:alpine
    restart: on-failure
    stop_grace_period: 10s
    networks:
      - internal
      - umbrel_main_network
    volumes:
      - ${APP_DATA_DIR}/dashboard:/usr/share/nginx/html:ro
      - ${APP_DATA_DIR}/dashboard/default.conf:/etc/nginx/conf.d/default.conf:ro
    container_name: rwh-ks-public-pool-bch-solo_dashboard_1
networks:
  internal:
    driver: bridge
    internal: true
  umbrel_main_network:
    external: true
